$colours: (
  colourPrimary: #207DFF,
  colourPrimaryDark: #0c72ff ,
  colorAccent: #00bd56,
  body: #f4f4f4,
);

@function colour($colour-name) {
  @return map-get($map: $colours, $key: $colour-name);
}
